#people {
  text-align: center;
}

#animals {
  text-align: center;
}

#add {
  display: flex;
}

#createPerson {
  float: left;
  width: 50%;
  text-align: center;
}

#createAnimal {
  float: right;
  width: 50%;
  text-align: center;
}

#github {
  text-align: center;
}